########################################
# 1. OS 캐시 파일 (Windows & macOS 공통)
########################################
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
desktop.ini

########################################
# 2. IntelliJ IDEA (집 - 맥북용)
########################################
.idea/
*.iws
*.iml
*.ipr
out/
gen/
# 빌드 결과물
build/

########################################
# 3. Eclipse (교육장 - 윈도우용)
########################################
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
.settings/
.loadpath
.recommenders/
.project
.classpath
.factorypath
.buildpath
*.launch

########################################
# 4. Java 공통
########################################
*.class
*.log
*.jar
*.war
*.zip
*.tar.gz

# 에러 로그
hs_err_pid*
replay_pid*